<div class="container">
  <img src="assets/logo.png" class="mx-auto d-block" style="width:30%">
</div>
<div class="jumbotron text-center">
  <h1>DATA FOUNDRY</h1>
  <p class="lead">Welcome to the Data Foundry </p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">New employee</a> <a class="btn btn-dark" [routerLink]="['/login']">Existing employee</a>
  </div>
</div>

<div class="row" >
  <div class="col text-white text-center" layout-align="text-center">
    <h3>DataX</h3>
    <p>An AI data platform that unlocks the business value of your data while improving efficiency and giving you a competitive edge. It manages and transforms data while predicting future events.</p>
  </div>    
</div>
